extends guestlayout

block content
    div.top
        form.form-horizontal(method="post", id="loginForm")
            label Username
            input.span3(id="username", type="text", name="username", placeholder="Enter your username")
            label Password
            input.span3(id="password", type="password", name="password")
            input.btn(type="submit", value="Log In")
    div.footer

